*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
}

.main{
    width: 100%;
    height: 100%;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 120px 250px 600px 250px 550px 250px 550px 250px 400px 400px 400px 300px;
    grid-template-areas: "nav nav"
                         "title1 title1"
                         "image-main image-main"
                         "number number"
                         "about-left1 about-right1"
                         "title2 title2"
                         "images images"
                         "title3 title3"
                         "about-left2 about-right2"
                         "about-left3 about-right3"
                         "about-left4 about-right4"
                         "footer footer"
    ;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    grid-area: nav;
}


.nav-left,.nav-middle,.nav-right{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.nav-middle{
    width: 40%;
    gap: 40px;
}

.nav-left h1{
    font-family: sans-serif;
    font-size: 35px;
    font-weight: 600;
}

#sign{
    width: 30%;
    height: 40%;
    background-color: transparent;
    border: 1px solid blue;
    border-radius: 20px;
}

#started{
    width: 40%;
    height: 40%;
    background-color: rgb(25, 104, 251);
    color: white;
    border: 1px solid blue;
    border-radius: 20px;
}

.logo{
    width: 50px;
    height: 50px;
    background: linear-gradient(blue,darkblue);
    border-radius: 5px;
}

nav p,nav button{
    cursor: pointer;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 600;
}

title1{
    /* background-color: #6a5acd; */
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: title1;
}

.title1-left{
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title1-left h1{
    font-size: 50px;
    font-family: sans-serif;
    font-weight: 500;
}

.title1-right{
    width: 65%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.title1-right p{
    margin-left: 200px;
    width: 75%;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(68, 68, 68);
}


.title1-rgiht-bottom{
    width:27%;
    margin-left: 200px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title1-rgiht-bottom button{
    width: 150px;
    height: 50px;
    background-color: rgb(25, 104, 251);
    color: white;
    border-radius: 20px;
    font-family: sans-serif;
    font-size: 18px;
    border: none;
}

image-main{
    /* background-color: #20b2aa; */
    grid-area: image-main;
    display: flex;
    align-items: center;
    justify-content: center;
}

image-main .box{
    width: 80%;
    height: 100%;
    background-color: #9f9f9f;
    border-radius: 25px;
}

number{
    background-color: #ffa500;
    grid-area: number;
}

about-left1{
    background-color: #ff1493;
    grid-area: about-left1;
}

about-right1{
    background-color: #00ced1;
    grid-area: about-right1;
}

title2{
    background-color: #32cd32;
    grid-area: title2;
}

images{
    background-color: #8a2be2;
    grid-area: images;
}

title3{
    background-color: #ff4500;
    grid-area: title3;
}

about-left2{
    background-color: #4682b4;
    grid-area: about-left2;
}

about-right2{
    background-color: #8d7d20;
    grid-area: about-right2;
}

about-left3{
    background-color: #ff69b4;
    grid-area: about-left3;
}

about-right3{
    background-color: #00bfff;
    grid-area: about-right3;
}

about-left4{
    background-color: #7fff00;
    grid-area: about-left4;
}

about-right4{
    background-color: #ff6347;
    grid-area: about-right4;
}

footer{
    background-color: #708090;
    grid-area: footer;
}
